#tb{
    width:500px;
    border-collapse: collapse;
}
#tb td,#tb th{
    border: 1px solid bisque;
    padding: 5px;
}
#tb th{
    text-align: right;
    background-color: aqua;
    color: #FFFFFF;
}
#tb tr.alt td{
    color: black;
    background-color: aquamarine;
}